* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0d0a0b;
  color: #f3eff5;

  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='76.9' stroke-opacity='0.05' id='a' d='M0-478l-413.96 717h827.92L0-478l-413.96 717h827.92z'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='rotate(22.8 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-44.8 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%2372B01D' href='%23a' transform='rotate(-22.4 0 0) scale(0.776)'/%3E%3Cuse stroke='%236fae1d' href='%23a' transform='rotate(-19.6 0 0) scale(0.804)'/%3E%3Cuse stroke='%236dac1d' href='%23a' transform='rotate(-16.8 0 0) scale(0.832)'/%3E%3Cuse stroke='%236aa91e' href='%23a' transform='rotate(-14 0 0) scale(0.86)'/%3E%3Cuse stroke='%2368a71e' href='%23a' transform='rotate(-11.2 0 0) scale(0.888)'/%3E%3Cuse stroke='%2365a51e' href='%23a' transform='rotate(-8.4 0 0) scale(0.916)'/%3E%3Cuse stroke='%2363a31e' href='%23a' transform='rotate(-5.6 0 0) scale(0.944)'/%3E%3Cuse stroke='%2360a11e' href='%23a' transform='rotate(-2.8 0 0) scale(0.972)'/%3E%3Cuse stroke='%235e9e1f' href='%23a' transform=''/%3E%3Cuse stroke='%235c9c1f' href='%23a' transform='rotate(2.8 0 0) scale(1.028)'/%3E%3Cuse stroke='%235a9a1f' href='%23a' transform='rotate(5.6 0 0) scale(1.056)'/%3E%3Cuse stroke='%2357981f' href='%23a' transform='rotate(8.4 0 0) scale(1.084)'/%3E%3Cuse stroke='%2355961f' href='%23a' transform='rotate(11.2 0 0) scale(1.112)'/%3E%3Cuse stroke='%2353941f' href='%23a' transform='rotate(14 0 0) scale(1.14)'/%3E%3Cuse stroke='%2351921f' href='%23a' transform='rotate(16.8 0 0) scale(1.168)'/%3E%3Cuse stroke='%234f8f20' href='%23a' transform='rotate(19.6 0 0) scale(1.196)'/%3E%3Cuse stroke='%234d8d20' href='%23a' transform='rotate(22.4 0 0) scale(1.224)'/%3E%3Cuse stroke='%234b8b20' href='%23a' transform='rotate(25.2 0 0) scale(1.252)'/%3E%3Cuse stroke='%23498920' href='%23a' transform='rotate(28 0 0) scale(1.28)'/%3E%3Cuse stroke='%23488720' href='%23a' transform='rotate(30.8 0 0) scale(1.308)'/%3E%3Cuse stroke='%23468520' href='%23a' transform='rotate(33.6 0 0) scale(1.336)'/%3E%3Cuse stroke='%23448320' href='%23a' transform='rotate(36.4 0 0) scale(1.364)'/%3E%3Cuse stroke='%23428120' href='%23a' transform='rotate(39.2 0 0) scale(1.392)'/%3E%3Cuse stroke='%23417f20' href='%23a' transform='rotate(42 0 0) scale(1.42)'/%3E%3Cuse stroke='%233F7D20' href='%23a' transform='rotate(44.8 0 0) scale(1.448)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

nav {
  height: 7vmin;
  background: linear-gradient(269deg, #3f7d20, transparent 25%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login {
  display: flex;
  align-items: center;
  gap: 2vmin;
}

.index-main {
  padding-top: 7vmin;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Updated to create two columns */
  align-items: start;
  justify-items: center;
}

.page-title {
  padding: 10vmin;
  font-size: 54px;
  color: #f3eff5;
}

nav > a {
  color: #f8f8f8;
  margin-right: 25px;
}

nav > img {
  margin-right: auto;
  margin-left: 2vmin;
  filter: blur(1.5);
}

p > a {
  color: #3f7d20;
  text-transform: uppercase;
}

.login img {
  height: 30px;
}

.index-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-message > h1 {
  font-size: 15vmin;
}

.index-message > p {
  font-size: 6vmin;
}

.index-message p,
h1 {
  padding: 10vmin 10vmin 0vmin 10vmin;
  color: #f3eff5;
}

.index-games {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr;
  margin-top: 10vmin;
  padding-right: 1vmin;
  gap: 2vmin;
}

.index-games > h2 {
  grid-column-start: 1;
  justify-self: center;
  grid-column-end: 3;
  font-size: 4vmin;
  padding: 2vmin;
}

.wish-btn > button,
.review-btn > button {
  color: #fafafa;
  font-size: 2.5vmin;
}

.details-btn > button {
  font-size: 2.5vmin;
}

.game-container,
.reviewed-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.62);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 2px solid #3f7d20;
}

.rating {
  padding: 0.5vmin;
  margin-right: 2vmin;
  border: 1px solid green;
  border-radius: 5px;
}

.platform-rating {
  width: 100%;
  height: 3vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vmin 0 1vmin 0;
}

.image-rating {
  align-self: center;
}

.platforms-icons {
  margin-left: 2vmin;
  font-size: 2.5vmin;
}

.platform {
  background-color: #407d20;
}

.game-title {
  align-self: flex-start;
  padding-left: 1vmin;
}

.game-title > p {
  padding: 0vmin;
  font-size: 4vmin;
  align-self: flex-start;
}

.image img,
.review-game-img img {
  max-height: 235px;
  min-height: 190px;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.index-scroll {
  overflow-y: auto; /* Enable vertical scrolling for the scrollable section */
  height: calc(
    80vh - 2vmin
  ); /* Adjust the height of the scrollable section to fit the viewport */
  /* You might need to adjust this height based on your header height, footer height, or any other elements on the page */
}

.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vmin;
}

.wishlist-data > p {
  padding: 0;
}

.reviews-data > p {
  padding: 0;
}

.count {
  font-size: 10vmin;
}

.user-db-title {
  text-align: center;
  padding: 15vmin;
  font-size: 54px;
  color: #f3eff5;
}

button {
  background: none;
  border: none;
}

.wish-review-details {
  width: 100%;
  display: flex;
  gap: 5vmin;
  padding: 1vmin;
  margin-left: 2vmin;
}

.details-btn {
  margin-left: auto;
  margin-right: 2.5vmin;
}

.fa-comment,
.fa-heart {
  color: #fafafa;
  font-size: 2.5vmin;
}

.fa-ellipsis {
  font-size: 2.5vmin;
}

.wishlist-details a {
  color: #72b01d;
}

.wishlist-data,
.reviews-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vmin;
  width: 35vmin;
  background: #45495578;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 2px solid #3f7d20;
}

.dashboard-text {
  font-size: 3vmin;
}

.dashboard-anchor {
  color: #3f7d20;
  font-size: 3vmin;
}

.games-search-form {
  margin: -5vmin auto 2vmin auto;
  text-align: center;
  width: 25%;
  height: 50px;
}

.games-search-form > form {
  height: 100%;
  width: 100%;
  display: flex;
}

.games-search-form > form > input {
  height: 100%;
  width: 100%;
  background: #45495578;
  backdrop-filter: blur(4px);
  border: 1px solid white;
  padding: 2vmin;
  font-size: 20px;
  border-radius: 10px;
  color: #fafafa;
}

.games-search-form > form > button {
  color: #fafafa;
  font-size: 20px;
  padding: 1vmin;
}

input:focus {
  outline: none;
}

.show-games {
  display: flex;
}

.search-parameters {
  width: 17%;
}

.main-games-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1vmin;
  width: 80%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1vmin;
}

aside > p {
  padding: 0px;
}

button:hover {
  cursor: pointer;
}

.fa-solid {
  color: #72b01d;
}

.fa-heart {
  transition: 0.3s all;
}

.fa-heart:hover {
  scale: 1.3;
}

.wish-list-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2vmin;
  align-items: flex-start;
  padding: 2vmin;
  margin: 2vmin;
  border: 2px solid #72b01d;
  border-radius: 10px;
  background: #45495578;
  backdrop-filter: blur(4px);
}

.wishlist-title p {
  font-size: 5vmin;
}

.wish-list-genres,
.wish-list-platforms,
.wish-list-rating {
  display: flex;
  gap: 2vmin;
  align-items: center;
}

.wish-list-genres p,
.wish-list-platforms p,
.wish-list-rating p {
  margin: 1vmin 0;
  padding: 0.5vmin;
  border: 3px solid #72b01d;
  background: #454955;
  border-radius: 10px;
}

.wish-list-genres h2,
.wish-list-platforms h2,
.wish-list-rating h2 {
  margin: 1vmin 0;
  padding: 1vmin;
  font-size: 2vmin;
}

.platform-genres-rating {
  display: flex;
  align-items: center;
  gap: 2vmin;
  justify-content: space-between;
}

.carousel-inner {
  box-shadow: 0px 0px 20px 8px #72b01d4f;
  border-radius: 25px;
  border: 1px solid white;
}

.wish-list-container {
  width: 55vw;
  margin: auto;
  padding: 2vmin 0vmin;
}

.wishlist-title {
  font-size: 4vmin;
}
.remove-from-wish-list {
  display: flex;
  gap: 2vmin;
}

.remove-from-wish-list > button .fa-heart:hover {
  color: red;
}

.remove-from-wish-list:hover .fa-heart,
.remove-from-wish-list:hover {
  color: red;
}

.review-form input[type="radio"] {
  display: none;
}

.search-parameters {
  border: 1px solid gray;
  padding: 1vmin;
}

.search-heading,
.search-heading-term {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 1vmin;
}

.search-heading {
  font-size: 3.5vmin;
}

.search-term {
  font-size: 3vmin;
}

.search-parameters form {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
}
.search-parameters .heading-search-term {
  align-items: unset;
}

.search-parameters > form button {
  font-family: "Aldrich", sans-serif;
  color: white;
}

.review-form input[type="radio"] + label {
  display: inline-block;
  background-color: #454955;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s all;
  border-radius: 10px;
  border: 1px solid #72b01d;
}

.review-form input[type="radio"]:checked + label {
  background-color: #72b01d;
}

.review-form input[type="radio"] + label:hover {
  background-color: #3f7d20;
  scale: 1.2;
}

.form-btn {
  background-color: #72b01d;
  padding: 4px 11px;
  margin-left: 2vmin;
  color: white;
  border-radius: 10px;
  border: 1px solid #72b01d;
}

.delete {
  align-self: flex-end;
  margin-bottom: 2vmin;
}

.delete:hover .form-btn {
  background-color: red;
}

.form-btn:hover {
  background-color: #3f7d20;
}

.review-container {
  padding: 2vmin 0vmin;
  display: flex;
  align-items: center;
  gap: 1vmin;
}
.review-container p {
  padding: 0vmin;
  margin: 0vmin;
}

.reviewed-container {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 10vmin auto 10vmin auto;
  justify-items: center;
  align-items: center;
  gap: 2vmin;
}

.reviewed-game-title {
  padding: 2vmin;
  font-size: 3vmin;
}

.next-prev-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22vmin;
}

.next-prev-btns > form button {
  color: #f3eff5;
  font-size: 3vmin;
  background-color: #3f7d20;
  border: 1px solid #72b01d;
  border-radius: 10px;
  padding: 1vmin;
  margin: 2vmin;
}
.next-prev-btns > form button:hover {
  background-color: #72b01d;
  border: 1px solid #3f7d20;
}

.show-page-review-form {
  display: none;
}

.game-container:hover .show-page-review-form {
  display: flex;
}

.show-page-review-form input[type="radio"] + label {
  font-size: 1.5vmin;
  padding: 1vmin;
  background-color: #4549554d;
}

.button-text {
  font-size: 2.5vmin;
  padding: 1vmin;
  color: #3f7d20;
}

/* Custom styles for carousel navigation buttons */
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the opacity and color as needed */
  border-radius: 50%; /* Optional: Make the buttons round */
  width: 40px; /* Optional: Adjust the width */
  height: 40px; /* Optional: Adjust the height */
  top: 45%;
}

/* Hover styles for the navigation buttons (optional) */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: #fff; /* Change color on hover */
  background-color: rgba(0, 0, 0, 0.8); /* Darken background on hover */
}
